<div class="container">
  <div class="panel-heading">
    <h1>Our offers:</h1>

  <% @services.each do |service| %>
  <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1513470939372-bd520e7d77db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" />
      <div class="card-trip-infos">
          <div>
            <h2><%= service.name %></h2>
            <h2></h2>
            <p></p>
            <%= link_to 'Details', service_path(service.id) %>
          </div>
        <h2 class="card-trip-pricing"><%= service.price %>€</h2>
          <img src="https://play-lh.googleusercontent.com/wuyYdwm-twuGDsFP_G2ekbReM0hfnPj7insu4y-TEPlM969feO0l9RntbQkBlYIiGZQ" class="card-trip-user avatar-bordered" />
      </div>
  </div>
    <% end  %>

  </div>
    <div>
      <a class="btn btn-login" href="/services/new">Add a service!</a>
    </div>

  <%= link_to root_path do %>
    <i class="fas fa-step-backward"></i>
  <% end  %>
  </div>
</div>
