<div class="card-category">
  <p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @service.description %>
</p>
</div>
