<div class="container-b">
<br><br>
  <h2 class="text-center"><b>Our Team</b></h2>
  <br>
  <h4><p style="text-align:center;">We are dedicated to enable cocktail mixers and event organizers to spend amazing times together.</p></h4>
</div>
<br><br>
<div class="container-b">
  <div class="cards-b">
    <div class="card-b"><br>
      <img src="https://avatars.githubusercontent.com/u/86988151?v=4" alt="Joao"><br>
      <h4>João Reis</h4>
      <p>Rent-A-Mixer finds the best barmen and cocktail entertainers for your event.</p>
    </div>
    <div class="card-b"><br>
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1634033420/o851nvjxounlvsedstzq.jpg" alt="Viktoriia"><br>
      <h4>Viktoriia Katyukova</h4>
      <p>Invite them to spice up your parties and impress your friends, family and colleagues.</p>
    </div>
    <div class="card-b"><br>
      <img src="https://avatars.githubusercontent.com/u/45194703?v=4" alt="Lukas"><br>
      <h4>Lukas Leys</h4>
      <p>You have fun - we do the rest. All aspects of event managemenet and payment are covered.</p>
    </div>
  </div>
</div>
<br><br>
<img src="https://unsplash.com/s/photos/cocktail?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" alt="Cocktail" class="center-contact">
