<div class="container">
<br>
  <h2 class="text-center"><b>Our Team</b></h2>
  <br>
  <h4><p style="text-align:center;">We are dedicated to enable cocktail mixers and event organizers to spend amazing times together.</p></h4>
</div>
<br><br>
<div class="container">
  <div class="cards">
    <div class="card"><br>
      <img src="https://photos.smugmug.com/C/EMPRESAS/LeWagon/n-Pmb29k/211111/i-KjKXLbJ/0/e2d69fce/X2/211105%20Le%20Wagon%20mug%20shots_105-X2.jpg" alt="Joao"><br>
      <h4>João Reis</h4>
      <h5><b>CEO</b></h5>
      <div class="social-links" id="social-media" style="display: flex; width: 100%; justify-content: space-around;">
        <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      </div><br>
      <p>A talented IT-expert and entrepreneur with an eye for detail. João founded Rent-A-Mixer to provide a unique service for people and businesses.</p>
    </div>
    <div class="card"><br>
      <img src="https://photos.smugmug.com/C/EMPRESAS/LeWagon/n-Pmb29k/211111/i-fc7xHft/0/f6da966d/X2/211105%20Le%20Wagon%20mug%20shots_112-X2.jpg" alt="Viktoriia"><br>
      <h4>Viktoriia Katyukova</h4>
      <h5><b>COO</b></h5>
      <div class="social-links" id="social-media">
        <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div><br>
      <p>The heart and soul of Rent-A-Mixer. Viktoriia is responsible for keeping our customers and cocktail mixers happy and our events aweseome. </p>
    </div>
    <div class="card"><br>
      <img src="https://avatars.githubusercontent.com/u/45194703?v=4" alt="Lukas"><br>
      <h4>Lukas Leys</h4>
      <h5><b>CMO</b></h5>
      <div class="social-links" id="social-media">
        <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div><br>
      <p>Dubbed "the pitch master", Lukas' life is all about one of his favorite vices - consuming alcoholic beverages. His passion is poured into our marketing.</p>
    </div>
  </div>
</div>
<br>
<div class=about-us-img>
  <div class="about-us">
    <div class="container text">
      <h1 class="display-4 text-center">About Rent-A-Mixer</h1>
        <div class="about-us">
          <div class="item">
            <p class="line-content"><i class="fas fa-cocktail"></i> - We are <b>your go-to solution to making events awesome</b>. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-glass-cheers"></i> - We enable people and businesses to <b>to host the best events</b> and provide a fun setting with our experienced and friendly personnel.</strong></p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-globe"></i> - Our network of expert cocktail mixers is available to <b>you all over Portugal</b>. If needed, we even follow you to other places.</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-sun"></i> - With <b>over 30 years of combined drinking experience</b> our professional and devoted team are true experts at organizing and executing every type if event.</p>
          </div>
        </div>
    </div>
  </div>
</div>
