<div class="contact-img">
  <div class="about-us">
    <div class="container text">
      <h2 class="display-4 text-center">Contact us</h2>
    </div>
  </div>
</div>


<div class=contact-img>
  <div class="about-us">
    <div class="container text">
      <h1 class="display-4 text-center">About Rent-A-Mixer</h1>
        <div class="about-us">
          <div class="item">
            <p class="line-content"><i class="fas fa-cocktail"></i> - We are <b>your go-to solution to making events awesome</b>. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-glass-cheers"></i> - We enable people and businesses to <b>to host the best events</b> and provide a fun setting with our experienced and friendly personnel.</strong></p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-globe"></i> - Our network of expert cocktail mixers is available to <b>you all over Portugal</b>. If needed, we even follow you to other places (bring drinks).</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-sun"></i> - With <b>over 30 years of combined drinking experience</b> our professional and devoted team are true experts at organizing and executing every type if event.</p>
          </div>
        </div>
    </div>
  </div>
</div>

<img src="https://unsplash.com/s/photos/cocktail?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" alt="Cocktail" class="center-contact">
