<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(https://images.unsplash.com/photo-1496152658208-d41635783718?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);">
  <div class="container">
    <h1>Rent-A-Mixer is <strong>always available</strong> for <strong>any requests</strong>!</h1>
    <p>Do you have questions about our services?</p>
  </div>
</div>
<br>
<div class="container">
  <form action="action_page.php">

    <label for="fname"><b>First Name</b></label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname"><b>Last Name</b></label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country"><b>Where are you located?</b></label>
    <select id="country" name="country">
      <option value="portugal">Portugal</option>
      <option value="europe">Other Europe</option>
      <option value="americas">Americas</option>
      <option value="asia">Asia</option>
    </select>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Your email.." name="email" required>

    <label for="subject"><b>Subject</b></label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
<br>
<br>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  We are happy to hear from you
</div>
<br>
