<div class="banner-img">
  <div class="container">
    <h2><strong>Throw kick-ass parties</strong></h2>
    <p>Connect with experienced cocktail mixers to spice up your events.</p>
    <a class="btn btn-flat" href="#">Get Started!</a>
  </div>
</div>
