<div class="container-img container-application">
  <div class="banner">
    <div class="container">
      <h2><strong>Throw kick-ass parties</strong></h2>
      <br>
      <p>Connect with experienced cocktail mixers to spice up your events.</p>

      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search mixer..." />
        </div>
          <a class="btn btn-ghost" href="services">Get started</a>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h2 class="text-center"><b>How it works</b></h2>
  <br>
  <h4><p style="text-align:center;">Rent-A-Mixer is your gateway to throwing the best, most memorable parties.</p></h4>
</div>
<br><br>
<div class="container">
  <div class="cards">
    <div class="card"><br>
      <img src="https://cdn.gutekueche.de/upload/artikel/46/barkeeper.jpg" alt="drink"><br>
      <h4>Find the best barmen</h4>
      <p>Rent-A-Mixer finds the best barmen and cocktail entertainers for your event.</p>
    </div>
    <div class="card"><br>
      <img src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/125908/125908_00_2x.jpg" alt="fun"><br>
      <h4>Throw awesome parties</h4>
      <p>Invite them to spice up your parties and impress your friends, family and colleagues.</p>
    </div>
    <div class="card"><br>
      <img src="https://i.insider.com/5d31f2c836e03c24d4001bc5?width=750&format=jpeg&auto=webp" alt="cocktail"><br>
      <h4>Have tons of fun</h4>
      <p>You have fun - we do the rest. All aspects of event managemenet and payment are covered.</p>
    </div>
  </div>
</div>
<div class=about-us-img>
  <div class="about-us">
    <div class="container text">
      <h1 class="display-4 text-center">About Rent-A-Mixer</h1>
        <div class="about-us">
          <div class="item">
            <p class="line-content"><i class="fas fa-cocktail"></i> - We are <b>your go-to solution to making events awesome</b>. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-glass-cheers"></i> - We enable people and businesses to <b>to host the best events</b> and provide a fun setting with our experienced and friendly personnel.</strong></p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-globe"></i> - Our network of expert cocktail mixers is available to <b>you all over Portugal</b>. If needed, we even follow you to other places (bring drinks).</p>
          </div>
          <div class="item">
            <p class="line-content"><i class="fas fa-sun"></i> - With <b>over 30 years of combined drinking experience</b> our professional and devoted team are true experts at organizing and executing every type if event.</p>
          </div>
        </div>
    </div>
  </div>
</div>
