.banner-show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.show-text {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.show-text p {
  font-size: 30px;
}
