.banner {
  padding: 150px 0;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.btn-ghost {
  background-color: #ff8e00;
  color: white;
  border: 1px solid #ff8e00 ;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 8px 22px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.9;
  transition: none;
    &:hover {
      color: white;
      background-color: #ff8e00;
      opacity: 1;
      transition: 0.5s;
    }
}
