.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-align: center;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-delete {
  color: white;
  opacity: 0.8;
  padding: 8px 24px;
  border-radius: 4px;
  background: red;
  transition: background 0.3s ease;
}
.btn-delete:hover {
  opacity: 1;
  text-decoration: none;
  background: red;
  color: white;
}
