.navbar {
  min-height: 2vh;
  padding: 0.3rem 0.3rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: #DDDDDD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.5rem;
}
